@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    overflow-x: hidden;
}
.deliveryService{
  background-image: url('/bg.svg');
  background-size: 90%; /* Make the image cover the whole area */
  padding: 2rem;
  /* Background position */
  background-position: left; /* Center the image */

  /* Background repeat */
  background-repeat: no-repeat; /* Don't repeat the image */

  /* Ensure the background gradient covers the entire element */
  background-blend-mode: multiply;

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 80vw;
  }
}
